<div class="row-fluid">
	
	<div class="span12">
	
  	    <% if flash[:color]== "valid" %>
			<div class="alert alert-success">
				<p><%= flash[:notice]%></p>
			</div>
		<% elsif flash[:color]== "invalid"%>
			<div class="alert alert-error">
				<p><%=flash[:notice]%></p>	
			</div>	
		<% else -%>
		
		<%end%>
		</br></br>
		<p> Welcome, <%= session[:user] %>. To Get started with using eDiVa, have a look <%=  link_to_modal "here", "#gsModal", :class=>"button" %>.		
		</br></br>
	</div>
	
</div>

<!--Analses  --> 
			
<div class="row-fluid">
	<div class="workspaceactions">
		<table class="table table-hover">
		<thead>
			<th colspan:"3">Possible Analyses</th>
		</thead>	
		<tbody>
			<tr>
			
	            <h5><%= link_to :"Annotate Variants", :controller => "aapp", :action => "annotate"%></h5>
	        	<dd>Annotate your genomic variants (e.g. snvs, indels) with multiple gene definitions, public frequencies and conservation & damage potential scores.</dd>
			</td>
			<td>
				<h5><%= link_to :"Rank Variants", :controller => "aapp", :action => "rank"%></h5>
        		<dd>Rank your genomic variants using multiple features from the eDiVa Annotation system.</dd>
			</td>
			<td>
				<h5><%= link_to :"Trio/Family Analysis", :controller => "aapp", :action => "familyanalysissamples"%></h5>
           		<dd>Perform family and trio analysis from your NGS experiments to find potential causal gene(s).</dd>
			</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>

</br></br>

<!--Workspace  -->
<div class="row-fluid">

	<div class="span12">
		<h2>
			Workspace File(s)
		</h2>
		</br>
		<table class="table table-hover">
		<thead>
			<th colspan:"16"></th>
		</thead>	
		<tbody>
			<% if @files.length == 0 %>
			<tr>
			<td colspan:"8">
				Your currently have no file(s).
			</td>
			</tr>
			<% else -%>
				<ul>
				<% Dir.foreach("userspace/" + session[:user] + "/") do |file|-%>
					<% next if file =~ /^\./ -%>
				<tr>
				<td colspan:"5">
					 <%= file %> 
				</td>
				<td colspan:"1">
					 <%= form_tag(:controller => 'aapp',:action => 'workspaceFileAction') do %>
						<% if @files.length > 0 %>
						<%= hidden_field_tag "selectedFile", file %> 
						<%= hidden_field_tag "selectedAction", "Preview" %> 
						<%= submit_tag "Preview", :class => 'btn  btn-link btn-xs'%>
						<% end -%>
					<% end -%> 
				</td>
				<td colspan:"1">				  
					<%= form_tag(:controller => 'aapp',:action => 'workspaceFileAction') do %>
						<% if @files.length > 0 %>
						<%= hidden_field_tag "selectedFile", file %> 
						<%= hidden_field_tag "selectedAction", "Download" %> 
						<%= submit_tag "Download", :class => 'btn   btn-link btn-xs'%>
						<% end -%>
					<% end -%>
				</td> 
				<td colspan:"1">
					 <%= form_tag(:controller => 'aapp',:action => 'workspaceFileAction') do %>
						<% if @files.length > 0 %>
						<%= hidden_field_tag "selectedFile", file %> 
						<%= hidden_field_tag "selectedAction", "Delete" %> 
						<%= submit_tag "Delete",{:onclick => "return confirm('Are you sure you want to delete this file')",:class => 'btn   btn-link btn-xs'  } %>
						<% end -%>
					<% end -%>  
				</td>
				</tr>
				<% end -%>	
				</ul>
			<% end -%>
		</tbody>
		</table>

	</div>
</div>

<!--Upload  --> 
<div class="row-fluid">
	<div class="span12">		
		<div class="workspaceactions">
		   	<%= form_tag({:controller => 'aapp',:action => 'actionUploadFile'}, :multipart => true) do %>		   	
		   	<%= submit_tag 	"Upload File(s) to Workspace.",  :class => 'btn btn-primary btn-large' %> &nbsp;&nbsp;&nbsp;&nbsp;
			<%= file_field_tag 'vcf',:onchange =>"validateFiles(this);",:data => {:max_file_size => 100.megabytes} %>
      			
       	   <% end %>
		</div>

		<!--Actions   
		<div class="workspaceactions">
			<h4>
				Manage Workspace File(s)
			</h4>

			<%= form_tag(:controller => 'aapp',:action => 'workspaceFileAction') do %>
				<% if @files.length > 0 %>
					<%= select_tag "selectedFile", options_for_select(@files) %> Select file
					<br> 
					<%= select_tag "selectedAction", options_for_select(@actions) %> Select action on file
					<br>
					<%= submit_tag "Commit", :class => 'btn btn-primary btn-medium'%>
					<% else -%>
						<p> Empty workspace !! </p>
					<% end -%>
			<% end -%>
		</div>		-->

		</br></br>	
		

	</div>
</div>

<script>
function validateFiles(inputFile) {
  var maxExceededMessage = "File exceeds the maximum allowed size (100 MB)";
 
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
 
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
 
}
</script>
<div id="gsModal" class="demo-description" style="display: none;">

  		<div class="modal-header">
			<b>Getting started with uploading & management of files and analyses</b>
		</div>
		
		<div class="modal-body">
		<p>		
			After logging into eDiVa app, you can upload and manage your files in your home page. On the right hand side of your home page,
			you can see the forms for uplaoding your files and below that you can perform basic tasks (e.g viewing, deleting and downloading)
			on your uploaded files in your workspace. The main portion of your home page shows the files you currently have in your workspace.
			 
		</p>
		
		<p>
			Also, immediately below the file management section on the right hand side of your home page, you can see the analyses that you can do using
			eDiVa app. You can annotate your genomic variants using the <b>Annotate Variants</b> section. A list contaning the description of the annotated
			fields in the result file is given below in this page. <b>Rank Variants</b> section allows you to rank your genomic variants using the annotated
			fileds from the annotation step. The ranking is done considering multiple factors. Finally in the <b>Trio/Family Analysis</b> section, you can 
			perofrm multiple inheritence testing in small families and trios to detect susceptible genes. This analysis step works on multiple VCF files from
			different samples or a single merged VCF file (multi-sample VCF file, click 
			<%= link_to :here, "http://www.1000genomes.org/wiki/Analysis/Variant%20Call%20Format/vcf-variant-call-format-version-41", target: "_blank", class: "nav_links_body"%> 
			for information on VCF file format) containing genotypes of differnet samples per varinat line. All analyses work 
			with both Single nucleotide variants and short insertion-deletion variants.
		</p>
		
		<p>
			<%= image_tag('homepagedoc.png')%>  	
  		</p>	
  				
  		<p>
  			Read the full documentation <%= link_to :"here", :controller => "aapp", :action => "docs"%>.
  		</p>			
  		</div>

</div>