<div class="row-fluid">
	<div class="span12">
	<% if flash[:color]== "valid" %>
		<div class="alert alert-success">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="alert alert-error">
			<p><%=flash[:notice]%></p>
		</div>
	<% else -%>	
	<%end%>
	</div>
</div>	
	
<div class="row-fluid">

	<div class="span8">

	<% if @analysisformtype == "1" -%>
	
		<div class="Search">
			<h2>
				<% if (@numberofsamples.to_i == 3) -%>
				Trio/Family analysis
				<% else -%>
				Famlily analysis
				<% end -%>
			</h2>	
			<br/>
			<h5>
				Steps to be performed: VCF Annotation -> Variants Ranking -> Trio/Family Analysis
			</h5>	
			<br/>
			<dd>The eDiVa multi-sample analysis will analyze samples from a family and will report the prioritized list of candidate variants for monogenic mendelian diseases.</dd>
			<dd>It will proceed to Annotate the variants form the VCF file(s), Rank them with a product-rank custom algorithm to integrate multiple information sources and finally it will filter.
				the variants in agreement with the chosen inheritance pattern</dd>
			<br/>
			<dd>eDiVa allows to choose five inheritance patterns:</dd>
			<ul>
				<li>Dominant_denovo</li>
				<li>Dominant_inherited</li>
				<li>Recessive</li>
				<li>Xlinked</li>
				<li>Compound [only for trios]</li>
			</ul>
			<br/>
			<b style="color:red"> The sample IDs must be the same as in the VCF file and in the exact same order. </b>
			<br/>
			<%= form_tag({:controller => 'aapp',:action => 'actionFamilyMerged'},:multipart => true) do %>

				<table class="table table-striped">
					<th colspan="2" class="tablecol2">Global parameters</th>
					<br/>
				<thead>
	
				</thead>					
				<tbody>
							   			<% if @files.length > 0 -%>
		   			<tr>
		   			<td class="tablecol4">
						Select Merged Annoatated and Ranked file from Project : </td>
					<td class="tablecol4">	
						<%= select_tag "selectedFileMerged", options_for_select(@files) %> </td>
						</tr>
					<tr>		
						<td class="tablecol4">
						Upload MultiSample/Merged VCF : 
						</td>
						<td class="tablecol4">
						<%= file_field_tag 'vcfMerged' %>
						</td>						
					</tr>
					<% else -%>	
					<tr>
						<td class="tablecol4">
						Upload MultiSample/Merged VCF :
						</td> 
						<td class="tablecol4">
							<%= file_field_tag 'vcfMerged',:onchange =>"validateFiles(this);",:data => {:max_file_size => 100.megabytes} %>
						</td>
					</tr>
					<% end -%>	
					<tr>
						<td class="tablecol4">
						Select Inheritence Type: </td>
						<td class="tablecol4"><%= select_tag "inheritenceType", options_for_select(@inhTypes) %></td>
					</tr>
					<tr>
						<td class="tablecol4">
						Select Family Type: </td>
						<td class="tablecol4"><%= select_tag "familyType", options_for_select(@famTypes) %></td>
					</tr>
		
					
					<tr>
						<th colspan="2"  class="tablecol2">
							Samples to analyze
							
						</th>
						
					</tr>
					<tr>
						<td class="tablecol4">Sample ID</td>						
						
						<td class="tablecol4">Affected ?</td>
					</tr>

						<% for sampleid in 1 .. @numberofsamples.to_i -%>
						 <tr>
							<td class="tablecol4">
								<%= text_field_tag "sample#{sampleid}", nil, :placeholder => "sample #{sampleid}" %></br>
							</td>
							<td class="tablecol4">
								<%= check_box_tag("affected#{sampleid}") %><%= label_tag("affected#{sampleid}", "") %>
							</td>
							
						</tr>	
						<% end -%>

				<br/>
				

				</tbody>				
				</table>	
				<%= check_box_tag :geneexclusionlist, "1",true %> Exclude genes from the Gene Exclusion List <i>(Analysis of DNA sequence variants detected by high-throughput sequencing; DOI: 10.1002/humu.22035)</i></br></br>
				<br/>
				<%= submit_tag "Start Analysis",  :class => 'btn btn-primary btn-large' %>

       	   <% end %>
		</div>

	
	<% else -%>

		<div class="Search">
			<h2>
				<% if (@numberofsamples.to_i == 3) -%>
				Trio/Family analysis
				<% else -%>
				Famlily analysis
				<% end -%>
			</h2>	
			<br/>
			<h5>
				Steps to be performed: VCF Annotation -> Variants Ranking -> Trio/Family Analysis
			</h5>	
			<br/>
			<dd>The eDiVa multi-sample analysis will analyze samples from a family and will report the prioritized list of candidate variants for monogenic mendelian diseases.</dd>
			<dd>It will proceed to Annotate the variants form the VCF file(s), Rank them with a product-rank custom algorithm to integrate multiple information sources and finally it will filter.
				the variants in agreement with the chosen inheritance pattern</dd>
			<br/>
			<dd>eDiVa allows to choose five inheritance patterns:</dd>
			<ul>
				<li>Dominant_denovo</li>
				<li>Dominant_inherited</li>
				<li>Recessive</li>
				<li>Xlinked</li>
				<li>Compound [only for trios]</li>
			</ul>
			<br/>
			
			<%= form_tag({:controller => 'aapp',:action => 'actionFamilySeparate'},:multipart => true) do %>

				<table class="table table-striped">
				<thead >
					<tr>
						<th class="tablecol4">
							Sample ID
						</th>
						<th class="tablecol4">
							Affected ?
						</th>	
						<th class="tablecol4">
							Upload File (local PC)
						</th>
			   			<% if @files.length > 0 -%>
						<th class="tablecol4">
							Select File (Workspace)
						</th>
						<% end -%>
					</tr>	
				</thead>
					
				<tbody >

						<% for sampleid in 1 .. @numberofsamples.to_i -%>
						<tr background-color:"#000000" >
							<td class="tablecol4">
								<%= text_field_tag "sample#{sampleid}", nil, :placeholder => "sample #{sampleid}" %>
							</td>
							<td class="tablecol4">	
								<%= check_box_tag("affected#{sampleid}") %><%= label_tag("affected#{sampleid}", "") %>
							</td>	
							<td class="tablecol4">
								<%= file_field_tag 'vcf#{sampleid}',:onchange =>"validateFiles(this);",:data => {:max_file_size => 100.megabytes} %>
							</td>
				   			<% if @files.length > 0 -%>
							<td class="tablecol4">
								<%= select_tag "selectedFile#{sampleid}", options_for_select(@files) ,{:style => "min-width: 150px;"}%>
							</td>
							<% end -%>
						</tr>
						<% end -%>

						<tr>
							<td class="tablecol4">
								Select Inheritence Type:
							</td>
							<td class="tablecol4">
								 <%= select_tag "inheritenceType", options_for_select(@inhTypes) %>
							</td>
							<td class="tablecol4">  &nbsp; </td>
							<td class="tablecol4"> &nbsp;</td>
						</tr>
						<tr>
							<td class="tablecol4">
								Select Family Type: 
							</td>
							<td class="tablecol4">
								 <%= select_tag "familyType", options_for_select(@famTypes) %>
							</td>
							<td class="tablecol4">  &nbsp; </td>
							<td class="tablecol4"> &nbsp;</td>
						</tr>						
						<tr>
							<td colspan="4">
							<%= check_box_tag :geneexclusionlist, "1",true %> Exclude genes from the Gene Exclusion List <i>(Analysis of DNA sequence variants detected by high-throughput sequencing; DOI: 10.1002/humu.22035)</i></br></br>
							<br/>
							</td>
						</tr>
					</tbody>				
				</table>
				
				<br/>
				
				<%= submit_tag "Start Analysis",  :class => 'btn btn-primary btn-large' %>
       	   <% end %>
		</div>	

	<% end -%>
	</div>
	
	

	
</div>

<script>
function validateFiles(inputFile) {
  var maxExceededMessage = "File exceeds the maximum allowed size (100 MB)";
 
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
 
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
 
}
</script>

