<div class="row-fluid">

	<div class="span12">

	<% if flash[:color]== "valid" %>
		<div class="alert alert-success">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="alert alert-error">
			<p><%=flash[:notice]%></p>
		</div>
	<% else -%>
	
	<%end%>
	
	</div>
	
</div>	
<div class="row-fluid">
	
	<div class="span12">
	
		<div class="Search">
		   <table align="center" text-align:"center" table-layout: fixed>
		   	<tbody>
		   	<tr>
		   	<th colspan="2" text-align:center>
		   		<h2>Rank annotated VCF file</h2>
		   		<p>Here you can rank the annotated variants produced from annotation in a VCF file using  eDiVa rank-product prioritization algorithm.</p>
		   		<p>The eDiVa algorithm combines information from variant frequency, the conservation and the multiple risk-scores to sort all variants: </p>
		   		<p>The output ranks with lower values the most relevant variants found by the eDiVa algorithm.</p>
		   		<br/>
		   		<br/>
		   	</th>
           	</tr>
           	<tr>
           		<!--Here two columns one for select from database and one from the local environment   -->
	           	<td class="tablecol2">  
	           		<br/>
	           		<h4>Select from your PC &nbsp;&nbsp;&nbsp;</h4>
	           		<%= form_tag({:controller => 'aapp',:action => 'actionRank'}, :multipart => true) do %>
					<%= file_field_tag 'ann',:onchange =>"validateFiles(this);",:data => {:max_file_size => 100.megabytes} %>
					<br/>
	           	</td>
				<td class="tablecol2">
					<br/>
					<h4>Select a vcf file to rank from workspace</h4>
					 <%= select_tag "fileToRank", options_for_select(@files), {:style => "min-width: 200px;"} %>
					 <br/>
	      		</td>
      		</tr>
      		<tr>
           		<th colspan="2">
           			<br/>
           			<%= submit_tag 	"Rank variants",  :class => 'btn btn-primary btn-large' %>
           		</th>
           	</tr>	
           	</tbody>	
           </table>
       	   <% end %>
		</div>
	</div>	

<!--	
	<div class="span4">


		<div class="workspaceactions">
			<h4>
				Upload File(s) to Workspace
			</h4>

			</br>
		   	<%= form_tag({:controller => 'aapp',:action => 'actionUploadFile'}, :multipart => true) do %>
				<%= file_field_tag 'vcf',:onchange =>"validateFiles(this);",:data => {:max_file_size => 100.megabytes} %></br>
      			<%= submit_tag 	"Upload",  :class => 'btn btn-primary btn-medium' %>
       	   <% end %>
		</div>

		</br></br>

		<div class="workspaceactions">
			<h4>
				Manage Workspace File(s)
			</h4>

			<%= form_tag(:controller => 'aapp',:action => 'workspaceFileAction') do %>
				<% if @files.length > 0 %>
					<%= select_tag "selectedFile", options_for_select(@files) %> Select file
					<br> 
					<%= select_tag "selectedAction", options_for_select(@actions) %> Select action on file
					<br>
					<%= submit_tag "Commit", :class => 'btn btn-primary btn-medium'%>
					<% else -%>
						<p> Empty workspace !! </p>
					<% end -%>
			<% end -%>
		</div>		

		</br></br>

		<div class="workspaceactions">
			<h4>
				Analyses
			</h4>
            <ul>
            	<li><%= link_to :"Annotate Variants", :controller => "aapp", :action => "annotate"%></li>
            	<dd>Annotate your genomic variants (e.g. snvs, indels) with multiple gene definitions, public frequencies and conservation & damage potential scores.</dd>
            	<li><%= link_to :"Rank Variants", :controller => "aapp", :action => "rank"%></li>
            	<dd>Rank your genomic variants using multiple features from the eDiVa Annotation system.</dd>
            	<li><%= link_to :"Trio/Family Analysis", :controller => "aapp", :action => "familyanalysissamples"%></li>
               	<dd>Perform family and trio analysis from your NGS experiments to find potential causal gene(s).</dd>	
			</ul>
		</div>		
		
	
	</div>
-->
	
<script>
function validateFiles(inputFile) {
  var maxExceededMessage = "File exceeds the maximum allowed size (100 MB)";
 
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
 
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
 
}
</script>