
<div class="row-fluid">

	<div class="span12">
	<% if flash[:color]== "valid" %>
		<div class="alert alert-success">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="alert alert-error">
			<p><%=flash[:notice]%></p>
		</div>
	<% else -%>	
	<%end%>
	
	</div>

</div>

<div class="row-fluid">

	<div class="span12">

		<% if (@actionToRecognize == 'Preview') -%>
		<div class="alert alert-error">
			<p><%= "Only first 100 lines are shown here" %></p>
		</div>

		<div class = "search_res">
		<table id ='viewme' class="table table-hover">
			<tbody>	
			<%File.open("userspace/" + session[:user] + '/' + @fileToShow, "r") do |infile| -%>
				<% limit = 0 -%>
				<% while (line = infile.gets) -%>
        			<tr>
        			<th class="smallCell">
	        			<% if(line =~ /^#/ || limit ==0 )-%>
	        			<%= line.split(',').join('</th> <th>  class="smallCell">  ').html_safe %>
	        			<%= '</th>'.html_safe%>						
	        			<% else -%>
	        			<%= '<td>'.html_safe%>	
	        			<%= line.split(',').join('</td> <td>').html_safe %>
	        			
	        			
	        			<% end -%>	        	
    				    <% limit = limit + 1 -%>
        			</td>
        			</tr>
        			<% if (limit == 100) -%>
        				<% break -%>
        			<% end -%>	
	    		<% end -%>
			<% end -%>
			</tbody>
		</table>
				<script>  var tf = new TableFilter('viewme',  
				    {case_sensitive: true 	,
				 	base_path: '../../vendor/assets/',
				 	alternate_rows: true});	
				 	tf.init();	
				</script>
		</div>	
		<% end -%>	
	
	</div>

</div>

