<div class="row-fluid">

	<div class="span12">
	<% if flash[:color]== "valid" %>
		<div class="alert alert-success">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="alert alert-error">
			<p><%=flash[:notice]%></p>
		</div>
	<% else -%>	
	<%end%>


	<div class = "Documentation">
		<h4>About eDiVa </h4>
		<p>
			eDiVA ("Exome Disease Variant Analysis") is a platform for variant annotation and prioritization, which integrates multiple genomic and clinical information sources to identify 
			disease-causing variants. eDiVA uses a novel machine-learning based damage pathogenicity classifier (eDiVA-Score) that facilitates ranking of the most likely candidate variants and 
			genes. Clinical information and clinical phenotypes are used to further prioritize candidate variants. eDiVA's prioritization algorithm has been optimized for the analysis of rare 
			genetic diseases in parent-child trios and other family settings, using variant segregation analysis to pinpoint the causal variant in a completely automated manor.
		</p>
		<p>
			The authorization to use this service is limited to academic purposes only. Those desiring to use this service for commercial purposes should contact the CRG Technology and 
			Business Development Office in order to obtain, if acceptable, a commercial license on case by case basis. This service is provided by CRG "as is" and CRG does not give or agree 
			to any representation, warranty, undertaking or condition in relation to it, whether expressed or otherwise implied.
		</p>		
		
		</br>	
			
		<h4>Citation</h4>
		<p>Coming soon!</p>	
		
		</br>
		
		<h4>Open source software components of the eDiVA platform</h4>
		<p>
			The eDIVA software included in the Docker image utilizes the following third party open source software packages, which are distributed under their own corresponding license 
			included with such open source software components.
		</p>
		<p>
			<table border="1">
				<tr>
					<td></td>
					<td>URL</td>
					<td>License</td>
				</tr>
				<tr>
					<td>BWA</td>
					<td><%= link_to "https://sourceforge.net/projects/bio-bwa/", "https://sourceforge.net/projects/bio-bwa/", :target => "_blank"%></td>
					<td>GPLv3 (some elements MIT)</td>
				</tr>
				<tr>
					<td>Samtools v1.3</td>
					<td><%= link_to "http://samtools.sourceforge.net/", "http://samtools.sourceforge.net/", :target => "_blank"%></td>
					<td>MIT/expat</td>
				</tr>
				<tr>
					<td>Bedtools 2.25</td>
					<td><%= link_to "http://bedtools.readthedocs.org/en/latest/", "http://bedtools.readthedocs.org/en/latest/", :target => "_blank"%></td>
					<td>GPLv2</td>
				</tr>
				<tr>
					<td>GATK</td>
					<td><%= link_to "https://www.broadinstitute.org/gatk/about/#licensing", "https://www.broadinstitute.org/gatk/about/#licensing", :target => "_blank"%></td>
					<td>3-clause BSD</td>
				</tr>
				<tr>
					<td>Picard 1.119</td>
					<td><%= link_to "http://broadinstitute.github.io/picard/", "http://broadinstitute.github.io/picard/", :target => "_blank"%></td>
					<td>MIT license</td>
				</tr>
			</table>
		</p>	

		</br>
		
		<h4>Acknowledgments</h4>
		<p>
			The eDiVA authors would like to acknowledge and thank the providers of the following tools, scores and data sources:
			<ul>
				<li>Combined Annotation Dependent Depletion (CADD): PMID 24487276 <%= link_to "http://cadd.gs.washington.edu/download", "http://cadd.gs.washington.edu/download", :target => "_blank" %> </li>

				<li>Condel: <%= link_to "PMID 21457909", "https://www.ncbi.nlm.nih.gov/pubmed?term=21457909", :target => "_blank"%></li> 

				<li>SIFT: <%= link_to "PMID 19561590", "https://www.ncbi.nlm.nih.gov/pubmed?term=19561590", :target => "_blank"%></li> 

				<li>Polyphen2: <%= link_to "PMID 20354512", "https://www.ncbi.nlm.nih.gov/pubmed?term=20354512", :target => "_blank"%></li> 

				<li>MutationAssessor: <%= link_to "PMID 21727090", "https://www.ncbi.nlm.nih.gov/pubmed?term=21727090", :target => "_blank"%>

				<li>FatHMM: <%= link_to "PMID 23033316", "https://www.ncbi.nlm.nih.gov/pubmed?term=23033316", :target => "_blank"%></li>

				<li>Ensembl-variation: <%= link_to "PMID 20459805", "https://www.ncbi.nlm.nih.gov/pubmed?term=20459805", :target => "_blank" %>

				<li>PhyloP: <%= link_to "PMID 15965027", "https://www.ncbi.nlm.nih.gov/pubmed?term=15965027", :target => "_blank"%></li> 

				<li>Genome Aggregation Database (gnomAD) and the groups that provided exome and genome variant data to this resource. 
					A full list of contributing groups can be found at <%= link_to "http://gnomad.broadinstitute.org/about", "http://gnomad.broadinstitute.org/about", :target => "_blank" %>.</li>

				<li>Exome Variant Server, NHLBI GO Exome Sequencing Project (ESP), Seattle, WA (URL: 
					<%= link_to "http://evs.gs.washington.edu/EVS/", "http://evs.gs.washington.edu/EVS/", :target => "_blank" %>)</li>

				<li>Human Genome Structural Variation Consortium, International Genome Sample Resource. 
					<%= link_to "http://www.internationalgenome.org/IGSR_disclaimeran", "http://www.internationalgenome.org/IGSR_disclaimeran", :target => "_blank" %> and  
					<%= link_to "http://www.internationalgenome.org/faq/how-do-i-cite-1000-genomes-project", "http://www.internationalgenome.org/faq/how-do-i-cite-1000-genomes-project", :target => "_blank" %>
					</li>

				<li>National Center for Biotechnology Information, Single Nucleotide Polymorphism Database – dbSNP, 
					<%= link_to "https://www.ncbi.nlm.nih.gov/projects/SNP/", "https://www.ncbi.nlm.nih.gov/projects/SNP/", :target => "_blank" %></li>

				<li>Discov-EHR collaboration of Geisinger Health System and Regeneron for providing exome variant data for comparison, 
					<%= link_to "http://www.discovehrshare.com/", "http://www.discovehrshare.com/", :target => "_blank" %></li>

				<li>The J. Craig Venter Institute. Sequence data for eDiVa was obtained from website at <%= link_to "www.jcvi.org", "www.jcvi.org", :target => "_blank" %>.</li>
			</ul>	 
 		</p>


			
		<!--
		Exome Disease Variant analysis (eDiVa), is a variant annotation and prioritization pipleine which integrates multiple information sources to identify disease-causing variants.
		<br/>
		<ul>
		<li> Integrates multiple genomics sources into one single Machine-learning based damage score: eDiVA-Score.</li> 
		<li> Helps researchers with an easy-to-use workflow to decide for potentially disease causing genic variants.</li>
		<li> It includes information from human genome and transcriptome sequencing, data from different omics platforms.</li>
		<li> Specialized in the analysis of rare and complex diseases</li>
		
		</ul>
		
		<br/>
		This project developed an integrated platform supporting the collection and storage of genome variation, expression, 
		omics and clinical data to provide diagnostics assistance, to elucidate pathogenicity and to identify causal coding gene mutations.
		</p>

		<p>
		The authorization to use this service is limited to academic purposes only. 
		Those desiring to use this service for commercial purposes should contact the CRG Technology and Business Development Office in order to obtain, if acceptable, a commercial license on case by case basis.
        This service is provided by CRG "as is" and CRG does not give or agree to any representation, warranty, undertaking or condition in relation to it, whether express o implied, or otherwise.
		</p>
		-->
	
	</div>

	<!-- ><div class = "Documentation">
	<h4>Disclaimer</h4>

		<p>
			...
		</p>
	</div>

	<div class = "Documentation">
	<h4>Confidentiality</h4>

		<p>
			...
		</p>

	</div>

	</div> -->

</div>