<!DOCTYPE html>
<html>
<head>
  <title>eDiVa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">eDiVa</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <% if session[:user] %>
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Search by Coordinate</a></li>
                  <li><a href="#">Search by Gene</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><%= link_to :Logout, :controller => "users", :action => "logout"%></li>
			</ul> 
			<% else -%>
			 <% end -%>	
          </div><!--/.nav-collapse -->		
        </div>
      </div>
    </div>
	
	
	<div class="container-fluid">	
		<%= yield %>
	</div>


</body>
</html>