<!DOCTYPE html>
<html>
	
<head>
  <title>eDiVa: Exome disease variant discovery </title>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults, "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   <script src="https://www.google.com/jsapi"></script>

	
	
</head>
<body>
 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">eDiVa &nbsp; &nbsp;</a>
          <div class="nav-collapse collapse">
          	<ul class="nav">
            <% if session[:user] %>
              <li class="active"><%= link_to :Home, :controller => "users", :action => "index"%></li>
              <!-- search options 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                <ul class="dropdown-menu">
               	  <li class="nav-header">Search variants</li>
                  <li><%= link_to :"Search by Coordinate", :controller => "eapp", :action => "search_chr_pos"%></li>
                  <li><%= link_to :"Search by Gene", :controller => "eapp", :action => "search_gene"%></li>
                  <li class="divider"></li>
                  <li class="nav-header">Search public OMICs</li>
                </ul>
			  </li>
			  
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to :"Annotate Variants", :controller => "aapp", :action => "annotate"%></li>
                  <li><%= link_to :"Rank Variants", :controller => "aapp", :action => "rank"%></li>
                  <li><%= link_to :"Trio/Family Analysis", :controller => "aapp", :action => "familyanalysissamples"%></li>
                </ul>
			  </li>-->
              <li><%= link_to :"Getting started", :controller => "aapp", :action => "docs"%></li>
              <li><%= link_to :"About", :controller => "aapp", :action => "about"%></li>
              <li><%= link_to :"Contact", :controller => "aapp", :action => "contact"%></li>
              <li> <a>|</a> </li>
              <li><a>Logged in as : <%= session[:user]%></a></li>
              <li> <a>|</a> </li>
              <li><%= link_to :Logout, :controller => "users", :action => "logout"%></li> 
			<% end -%>	
   			  <li> <a>|</a> </li>
			  <li align="right"><%= link_to "eDiVA Express Terms", "#modalTermsConditions", "data-toggle" => "modal" %></li>
			  <li> <a>|</a> </li>
			  <li align="right"><%= link_to "License", "#modalLicense", "data-toggle" => "modal" %></li>
			</ul>
          </div><!--/.nav-collapse -->		
        </div>
      </div>
    </div>
	
	
	<div class="container-fluid">	
		<%= yield %>
	</div>

   <div class="footer">
		<table align="center" width="100%">
			<tr>
				<td align="left"> <a href="http://www.crg.eu"><img src="/assets/crg_logo.png" alt=""  height="50" width="60"> </a></td>
				<!--
				<td> &nbsp; &nbsp; </td>
				<td align="center">An application of the <a href="http://www.crg.eu/en/programmes-groups/genomic-and-epigenomic-variation-disease">Ossowski Lab</a> </td>
				<td> &nbsp; &nbsp; </td>
				-->
				 <td align="right"><a href="http://obrasocial.lacaixa.es/"><img src="/assets/caixa_official.jpeg" alt=""  height="50"  </a>	</td>
				 <td align="right"><a href="http://www.pancanrisk.eu//"><img src="/assets/pancanrisk.png" alt=""  height="50"  </a>	</td>
				
				<!--<td> &nbsp; &nbsp; </td>	-->		
			</tr>	
		</table>
    </div>


</body>
</html>


<div class="modal hide fade" id="modalLicense" title="License">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">License Terms</h3>
  </div>
  <div class="modal-body">
  	<ul>
  	<li><b>1. Scope.</b> This license regulates your use of the eDIVA software. </li>
	<li><b>2. License Grant:</b> CRG grants you a non-exclusive worldwide royalty-free perpetual right to install and use, copy and modify the eDIVA Software subject to the restrictions set out below </li>
	<li><b>3. Redistribution:</b> you may not assign, sell, transfer, communicate or redistribute the software in any manner, but you may make your modifications available to third 
		parties under the same license terms as these terms. We would appreciate you sending any modifications back to the CRG too. </li>
	<li><b>4. License Restrictions and conditions.</b> a) You may only install and use the eDiVA Software for non-commercial academic/research purposes, and it may not 
		be used for any diagnostic procedure.  b) You may not use the eDiVA Software to provide onwards services to third parties. c) This CRG copyright notice and 
		a reference to this license shall be included in all copies or substantial portions of the Software.</li>
	<li><p>5. To the maximum extent permitted by applicable law, the eDiVa Software and any technology or access to the same that CRG supplies hereunder are provided “as is” and 
		neither CRG, our employees, affiliates, researchers, suppliers, third-party information providers, licensors nor the like, make any warranties of any kind, either express 
		or implied, including, but not limited to, warranties of merchantability, satisfactory quality, or fitness for a particular purpose or non-infringement.</p> 
		<p>
	There is no warranty that the Software will work uninterrupted or error free; nor any warranty as to the results that may be obtained from the use of the Software or as to the accuracy, 
	reliability or content of any information or services contained in or provided through the Software. You agree not to hold us liable for the content or loss of any data transferred 
	either to or from you or stored by you via the eDiVa Software.</p>
	<p>
	This eDiVa Software is provided for free, for non-commercial academic/research purposes only. To the maximum extent permitted by mandatorily applicable law, CRG shall not be liable to you or any other person for any indirect or direct damages, including loss or profit or goodwill, loss of data, incorrect unverified results, or for any matter arising out of or relating to this agreement or its subject matter, whether such liability is asserted on the basis of contract, tort or otherwise. 
	If you wish to use eDiVa Software for commercial/for-profit use, please contact CRG_BusinessInnovation@crg.eu to discuss licensing terms.
	</p>
	</li>
	<li><b>6. Open Source code.</b> EDIVA includes certain third party open source licensed code, which are licensed to you under the separate applicable open source license terms 
		included with such open source software components. See notice below. </li>
	<li><b>7. No support.</b> This License does not entitle you to receive from CRG, hard-copy documentation, technical support, maintenance, training, telephone assistance, or enhancements or 
		updates to the Licensed Software </li>
	<li><b>8. Jurisdiction.</b> This Agreement shall be governed and construed in accordance with the laws of Spain. With express waiver to any other jurisdiction that may correspond to the 
		Parties, any dispute or controversy in relation to, in connection with, or resulting from this Agreement which cannot be settled amicably 
		shall be exclusively resolved by the courts of the city of Barcelona (Spain).</li>
	</ul>
	<b>End of License Terms</b>
  </div>
</div>  

<div class="modal hide fade" id="modalTermsConditions" title="eDiVA Express Terms">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">eDiVA Express Terms</h3>
  </div>
  <div class="modal-body">
  	
    eDIVA is provided by FUNDACIÓ CENTRE DE REGULACIÓ GENÒMICA (CRG). On registering for the eDIVA Service, you agree to these terms.
    <ul> 
		<li>a)	You may only access and use the eDiVA service for non-commercial academic/research purposes, and it may not be used for any diagnostic procedure.</li>  
		<li>b)	You may not use the eDiVA service to provide onwards services to third parties. </li>
		<li>c)	You must keep your access codes confidential, and notify us of any disclosure. </li>
		<li>d)	CRG may terminate offering this service, or limit your use of the service, at any time.</li>
		<li>e)	Accounts will automatically terminate without notice after 3 months with no activity or after 1 year, whichever is the earlier.</li>  
		<li>f)	CRG acquires no rights from you and has no liability with respect to your data or to any results or reports obtained or created by your use of the eDiVa Service.</li> 
	</ul>
	<p>
	To the maximum extent permitted by applicable law, the eDiVa Services and any technology or access to the same that CRG supplies hereunder are provided “as is” and neither CRG, our employees, 
	affiliates, researchers, suppliers, third-party information providers, licensors nor the like, make any warranties of any kind, either express or implied, including, but not limited to, warranties 
	of merchantability, satisfactory quality, or fitness for a particular purpose or non-infringement. 
	</p>
	<p>
	There is no warranty that the Services will be uninterrupted or error free; nor any warranty as to the results that may be obtained from the use of the Services or as to 
	the accuracy, reliability or content of any information or services contained in or provided through the Services. You agree not to hold us liable for the content or loss 
	of any data transferred either to or from you or stored by you via the eDiVa Services.
	</p>
	<p>
	This eDiVa Service is provided for free, for non-commercial academic/research purposes only. To the maximum extent permitted by mandatorily applicable law, CRG shall not be 
	liable to you or any other person for any indirect or direct damages, including loss or profit or goodwill, loss of data, incorrect unverified results, or for any 
	matter arising out of or relating to this agreement or its subject matter, whether such liability is asserted on the basis of contract, tort or otherwise. 
	</p>
	<p>
	If you wish to use eDiVa (in SaaS mode or on-premise) for commercial/for-profit use, please contact <b>CRG_BusinessInnovation@crg.eu</b> to discuss licensing terms.
	</p>
	<p>
	Your registration and usage data is processed according to our privacy policy at <%= link_to "http://www.crg.eu/node/10699", "http://www.crg.eu/node/10699" , :target => "_blank" %>.
	</p>
	<p>
	Please cite <b>“eDiVa, Genomic and Epigenomic Variation in Disease programme,  Centre De Regulació Genòmica, Barcelona. http://eDiVa.crg.es/”</b> 
	if you publish any results using this service.
	</p>
	<p> 
	CRG would like to acknowledge and thank the entities and projects listed at <%= link_to "http://eDiVa.crg.es/Acknowledgements", "http://eDiVa.crg.es/Acknowledgements", :target => "_blank" %>
	</p>

  </div>
</div>